@media (prefers-color-scheme: dark) {
  :root {
  --page-bg-color: var(--approximately-black);
  --accent-color: var(--real-red);
  --title-color: var(--title-violet);
  --header-text-bg-color: var(--real-red);
  --header-text-color: var(--approximately-black);
  --question-bg-color: var(--approximately-black);
  --question-color: var(--real-red);
  --answer-title-bg-color: var(--real-red);
  --answer-title-color: var(--approximately-black);
  --answer-text-bg-color: var(--approximately-black);
  --answer-text-color: var(--answer-color);
  --advice-title-bg-color: var(--real-red);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--real-red);
  --rec-color: var(--real-red);
  --border-color-opacity: var(--opacity-color);
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--real-red);
  }

  .rec_empty::before {
    display: inline-block;
  }

  .rec_empty::after {
    display: inline-block;
  }
}

:root.theme-dark {
  --page-bg-color: var(--approximately-black);
  --accent-color: var(--real-red);
  --title-color: var(--title-violet);
  --header-text-bg-color: var(--real-red);
  --header-text-color: var(--approximately-black);
  --question-bg-color: var(--approximately-black);
  --question-color: var(--real-red);
  --answer-title-bg-color: var(--real-red);
  --answer-title-color: var(--approximately-black);
  --answer-text-bg-color: var(--approximately-black);
  --answer-text-color: var(--answer-color);
  --advice-title-bg-color: var(--real-red);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--real-red);
  --rec-color: var(--real-red);
  --border-color-opacity: var(--opacity-color);
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--real-red);
}

.theme-dark .rec_empty::before {
  display: inline-block;
}

.theme-dark .rec_empty::after {
  display: inline-block;
}