:root {
  --basic-pink: #ff8dcb;
  --title-pink: #ffc2e6;
  --almost-white-bg: #fff1f7;
  --real-red: #ff0070;
  --approximately-black: #000028;
  --almost-black: #353430;

  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --regular-gap: 10px;
  --decoration-gap: clamp(10px, 2.65vw, 20px);
  --min-height: 668px;
  --header-margin-left: min(10px, 20px - 2.6vw);
  --section-child-margin: 40px;
  --project-font-family: "IBM Plex Mono", "Arial", sans-serif;
  --corner-thickness: 1px;
}

:root.theme-light {
  --accent-color: var(--basic-pink);
  --title-color: var(--title-pink);
  --page-bg-color: var(--almost-white-bg);
  --header-text-bg-color: var(--basic-pink);
  --header-text-color: var(--almost-black);
  --question-bg-color: var(--almost-white-bg);
  --question-color: var(--almost-black);
  --answer-title-bg-color: var(--basic-pink);
  --answer-title-color: var(--almost-black);
  --answer-text-bg-color: var(--almost-white-bg);
  --answer-text-color: var(--almost-black);
  --advice-title-bg-color: var(--basic-pink);
  --advice-title-color: var(--almost-black);
  --button-color: var(--almost-black);
  --border-color-opacity: #32312d66;
  --background-image: url("../images/cover-image-light.png");
  --deco-color: var(--almost-black);
}

:root.theme-dark {
  --page-bg-color: var(--approximately-black);
  --accent-color: var(--real-red);
  --title-color: #db00ff;
  --header-text-bg-color: var(--real-red);
  --header-text-color: var(--approximately-black);
  --question-bg-color: var(--approximately-black);
  --question-color: var(--real-red);
  --answer-title-bg-color: var(--real-red);
  --answer-title-color: var(--approximately-black);
  --answer-text-bg-color: var(--approximately-black);
  --answer-text-color: #f1b2ce;
  --advice-title-bg-color: var(--real-red);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--real-red);
  --rec-color: var(--real-red);
  --border-color-opacity: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--real-red);
}

:root.theme-auto {
  --page-bg-color: var(--approximately-black);
  --accent-color: var(--real-red);
  --title-color: #db00ff;
  --header-text-bg-color: var(--real-red);
  --header-text-color: var(--approximately-black);
  --question-bg-color: var(--approximately-black);
  --question-color: var(--real-red);
  --answer-title-bg-color: var(--real-red);
  --answer-title-color: var(--approximately-black);
  --answer-text-bg-color: var(--approximately-black);
  --answer-text-color: #f1b2ce;
  --advice-title-bg-color: var(--real-red);
  --advice-title-color: var(--approximately-black);
  --button-color: var(--real-red);
  --rec-color: var(--real-red);
  --border-color-opacity: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--real-red);
}